@tailwind base;
@tailwind components;
@tailwind utilities;


.smooth {transition: box-shadow 0.3s ease-in-out;}

::selection{background-color: aliceblue}

.ck-editor__main, .ck-content{
    height: 320px !important;
}
.Pbody *{
    font-size: 17px !important;
}